/* Base elements */
body {
    background-color: black;
}

/* Custom elements */
.video_background {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.video_background video {
    width: 100%;
    height: 100%;
}

